$body-bg:                       #f8f8f8;
$body-color:                    #757575;

$primary:                       #67a198;
$light:                         #f1f1f1;

$border-radius:                 0;
$border-radius-lg:              0;
$border-radius-sm:              0;

$text-muted:                    #999;